name: Download ReportMLM2MC XML

on:
  schedule:
      - cron: '0 4 * * *' # Раз в день
  workflow_dispatch: # Позволяет запускать вручную
    inputs:
        period:
          description: 'Период'
          required: true
          default: '02/2026'
          type: choice
          options:
            - 01/2026
            - 02/2026
            - 03/2026
        nullsum:
          description: 'Включить неактивных Консультантов'
          default: 'Нет'
          type: choice
          options:
            - Да
            - Нет
        ownstructure:
          description: 'Показывать только свою структуру'
          default: 'Да'
          type: choice
          options:
            - Да
            - Нет
          
jobs:
  download-report:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Разрешает пуш в репозиторий
    steps:
      # ЭТОТ ШАГ ОБЯЗАТЕЛЕН: он скачивает ваш script_web.js в Runner
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTION_PAT }}
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install playwright
          npx playwright install chromium --with-deps

      - name: Run Playwright script
        env:
          USER: ${{ secrets.FABERLIC_USER }}
          PASS: ${{ secrets.FABERLIC_KEY }}
          # Маппинг: описание -> строковой ID
          # Для запуска по расписанию значение по-умолчанию 02/2026
          PERIOD: >-
            ${{ 
              inputs.period == '01/2026' && '30000000520' || 
              inputs.period == '02/2026' && '30000000521' || 
              inputs.period == '03/2026' && '30000000522' ||
              '30000000521'
            }}
          NULLSUM: ${{ contains(inputs.nullsum, 'Нет') && 0 || 1 }}
          OWNSTRUCTURE: ${{ contains(inputs.ownstructure, 'Да') && 1 || 0 }}
          REPORT: 'ReportMLM2MC'
          # Не используются в данном отчете
          NAME: '' 
          CONS: '' 
        run: |
          echo "Значение NULLSUM: $NULLSUM, inputs.nullsum: >${{ inputs.nullsum }}<"
          echo "Значение OWNSTRUCTURE: $OWNSTRUCTURE, inputs.ownstructure: >${{ inputs.ownstructure }}<"
          node mailing/script_load_report_xml.js
          
      - name: Upload XML result to mailing folder
        run: |
          # Создаем папку, если она не существует
          mkdir -p mailing
          
          # Перемещаем файл в целевую папку
          mv ReportMLM2MC.xml mailing/
          
      - name: Install Prettier
        run: npm install prettier @prettier/plugin-xml

      - name: Format XML (Сразу после загрузки)
        run: npx prettier --write "mailing/ReportMLM2MC.xml" --plugin=@prettier/plugin-xml

      - name: Commit Beautiful XML
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ReportMLM2MC: update and format report"
          file_pattern: 'mailing/ReportMLM2MC.xml'
