name: Download Report XML

on:
  workflow_dispatch: # Позволяет запускать вручную

jobs:
  download-report:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Разрешает пуш в репозиторий
    steps:
      # ЭТОТ ШАГ ОБЯЗАТЕЛЕН: он скачивает ваш script_web.js в Runner
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTION_PAT }}
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install playwright
          npx playwright install chromium --with-deps

      - name: Run Playwright script
        env:
          USER: ${{ secrets.FABERLIC_USER }}
          PASS: ${{ secrets.FABERLIC_KEY }}
        run: |
          node mailing/script_web.js
  
      - name: Upload XML result to mailing folder
        run: |
          # Создаем папку, если она не существует
          mkdir -p mailing
          
          # Перемещаем файл в целевую папку
          mv ReportMLM2MC.xml mailing/
          
          # Конфигурация Git
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # Фиксация изменений
          git add mailing/ReportMLM2MC.xml
          git commit -m "chore: update ReportMLM2MC.xml in mailing folder" || echo "No changes to commit"
          git push origin main
