name: Download ConsultantTreeMLM XML

on:
  schedule:
      - cron: '0 4 * * *' # Раз в день
  workflow_dispatch: # Позволяет запускать вручную
    inputs:
        period:
          description: 'Период'
          required: true
          default: '02/2026'
          type: choice
          options:
            - 01/2026
            - 02/2026
            - 03/2026
        nullsum:
          description: 'Включить неактивных Консультантов'
          default: 'false'
          type: choice
          options:
            - true
            - false
        ownstructure:
          description: 'Показывать только свою структуру'
          default: 'true'
          type: choice
          options:
            - true
            - false
          
jobs:
  download-report:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Разрешает пуш в репозиторий
    steps:
      # ЭТОТ ШАГ ОБЯЗАТЕЛЕН: он скачивает ваш script_web.js в Runner
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTION_PAT }}
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install playwright
          npx playwright install chromium --with-deps

      - name: Run Playwright script
        env:
          USER: ${{ secrets.FABERLIC_USER }}
          PASS: ${{ secrets.FABERLIC_KEY }}
          # Маппинг: описание -> строковой ID
          # Для запуска по расписанию значение по-умолчанию 02/2026
          PERIOD: >-
            ${{ 
              inputs.period == '01/2026' && '30000000520' || 
              inputs.period == '02/2026' && '30000000521' || 
              inputs.period == '03/2026' && '30000000522' ||
              '30000000521'
            }}
          NULLSUM: ${{ (inputs.nullsum == 'true' || inputs.nullsum == null) && 1 || 0 }}
          OWNSTRUCTURE: ${{ (inputs.ownstructure == 'false' || inputs.ownstructure == null) && 0 || 1 }}
        run: |
          node mailing/script_load_ConsultantTreeMLM.js
          
      - name: Upload XML result to mailing folder
        run: |
          # Создаем папку, если она не существует
          mkdir -p mailing
          
          # Перемещаем файл в целевую папку
          mv ConsultantTreeMLM.xml mailing/
          
      - name: Install Prettier
        run: npm install prettier @prettier/plugin-xml

      - name: Format XML (Сразу после загрузки)
        run: npx prettier --write "mailing/ConsultantTreeMLM.xml" --plugin=@prettier/plugin-xml

      - name: Commit Beautiful XML
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ConsultantTreeMLM: update and format report"
          file_pattern: 'mailing/ConsultantTreeMLM.xml'
