name: Download ConsultantTreeMLM XML

on:
  schedule:
      - cron: '0 3 * * *' # Раз в день
  workflow_dispatch: # Позволяет запускать вручную
    inputs:
        period:
          description: 'Период'
          required: true
          default: '02/2026'
          type: choice
          options:
            - 01/2026
            - 02/2026
            - 03/2026
        nullsum:
          description: 'Включить неактивных Консультантов'
          default: 'Да'
          type: choice
          options:
            - Да
            - Нет
        ownstructure:
          description: 'Показывать только свою структуру'
          default: 'Нет'
          type: choice
          options:
            - Да
            - Нет
          
jobs:
  download-report:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1  # Запускает по одному, исключая конфликты пуша
      fail-fast: false # Чтобы ошибки в одном ID не прерывали остальные
      matrix:
        include:
          - name: "_JULIA"
            cons_id: "1001494180387"
    #       - name: "_ALEXANDER"
    #         cons_id: "1001529788922"
    #       - name: "_KSENIA"
    #         cons_id: "1001733594981"
    #       - name: "_VLAD"
    #         cons_id: "1001746170633"
    #       - name: "_NB"
    #         cons_id: "1001773422929"
    #       - name: "_NATASHA"
    #         cons_id: "1001783608329"
    permissions:
      contents: write  # Разрешает пуш в репозиторий
    steps:
      # ЭТОТ ШАГ ОБЯЗАТЕЛЕН: он скачивает ваш script_web.js в Runner
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTION_PAT }}
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install playwright
          npx playwright install chromium --with-deps
          
      - name: Install Prettier
        run: npm install prettier @prettier/plugin-xml
    
      - name: Run Playwright script for ${{ matrix.name }}
        env:
          # Если matrix.name = '_JULIA', возьмет секрет FABERLIC_USER_JULIA
          USER: ${{ secrets[format('FABERLIC_USER{0}', matrix.name)] }}
          # Аналогично для пароля FABERLIC_KEY_JULIA
          PASS: ${{ secrets[format('FABERLIC_KEY{0}', matrix.name)] }}
          PERIOD: >-
            ${{ 
              inputs.period == '01/2026' && '30000000520' || 
              inputs.period == '02/2026' && '30000000521' || 
              inputs.period == '03/2026' && '30000000522' ||
              '30000000521'
            }}
          NULLSUM: ${{ contains(inputs.nullsum, 'Нет') && '0' || '1' }}
          OWNSTRUCTURE: ${{ contains(inputs.ownstructure, 'Да') && '1' || '0' }}
          REPORT: 'ConsultantTreeMLM'
          # Берем значение из матрицы - в варианте запуска по группам отдельно
          # Используем Юлин аккаунт без имени для запуска по одному аккаунту с вложенными группами
          NAME: ${{ matrix.name }}
          CONS: ${{ matrix.cons_id }} 
        run: |
          echo "Запуск для: $NAME (ID: $CONS)"
          node mailing/script_load_report_xml.js

          
      - name: Upload XML result to mailing folder
        env:
          FILE: 'ConsultantTreeMLM${{ matrix.name }}.xml'
        run: |
          # Создаем папку, если она не существует
          mkdir -p mailing
          # Перемещаем файл в целевую папку
          mv "$FILE" mailing/
          # Format XML (Сразу после загрузки)
          npx prettier --write "mailing/$FILE" --plugin=@prettier/plugin-xml

      - name: Sync and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # 1. Добавляем файлы в индекс
          git add .
          
          # 2. Делаем временный коммит, чтобы pull --rebase сработал
          git commit -m "Рассылка новичкам для аккаунта ${{ matrix.name }}"
          
          # 3. Подтягиваем изменения извне и ставим наш коммит поверх них
          git pull --rebase origin main
          
          # 4. Пушим итоговый результат
          git push origin main
