name: Email Blast With Delay

on:
  workflow_dispatch:
    inputs:
      contacts_name:
        description: 'Список контактов'
        required: true
        default: 'mailing/contacts.json'
      template_name:
        description: 'Шаблон письма'
        required: true
        default: 'mailing/template.txt'
      delay_seconds:
        description: 'Задержка (сек)'
        required: true
        default: '2'

  # Добавляем возможность вызова из других workflow
  workflow_call:
    inputs:
      contacts_name:
        type: string
        required: true
        default: 'mailing/contacts.json'
      template_name:
        type: string
        required: true
        default: 'mailing/template.txt'
      delay_seconds:
        type: string
        required: true
        default: '2'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download prepared contacts
        uses: actions/download-artifact@v4
        continue-on-error: true # Не падать, если артефакта нет
        with:
          name: new-contacts # Имя должно совпадать с тем, что было в Upload
          
      - name: Verify and Select Contacts File
        id: select_file
        run: |
          # 1. Проверяем, пришел ли файл из артефакта
          if [ -f "contacts_new_with_dates.json" ]; then
            echo "source=artifact" >> $GITHUB_OUTPUT
            echo "path=contacts_new_with_dates.json" >> $GITHUB_OUTPUT
          # 2. Иначе проверяем, существует ли файл по пути из inputs в репозитории
          elif [ -f "${{ inputs.contacts_name }}" ]; then
            echo "source=repository" >> $GITHUB_OUTPUT
            echo "path=${{ inputs.contacts_name }}" >> $GITHUB_OUTPUT
          else
            echo "Error: Contacts file not found!"
            exit 1
          fi
          
      - name: Send Email
        run: |
          echo "Рассылка по контактам в файле: ${{ steps.select_file.outputs.path }}"
          # Считаем элементы и выводим в консоль
          COUNT=$(jq '. | length' ${{ steps.select_file.outputs.path }})
          echo "Количество элементов в файле: $COUNT"
          # Вывод результата в лог для проверки
          cat "${{ steps.select_file.outputs.path }}" 

      - name: Set Matrix
        id: set-matrix
        run: |
          JSON=$(jq -c '.' ${{ steps.select_file.outputs.path }})
          echo "matrix=${JSON}" >> $GITHUB_OUTPUT

  send-emails:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1 
      matrix:
        contact: ${{ fromJson(needs.prepare.outputs.matrix) }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Anti-spam delay
        run: sleep ${{ inputs.delay_seconds }}

      # Шаг для замены {name} на реальное имя из контактов
      - name: Prepare Template for ${{ matrix.contact.name }}
        id: prepare_template
        run: |
          # Читаем файл, заменяем {name} на значение из матрицы и сохраняем во временный файл
          # Используем @ в качестве разделителя в sed на случай, если в имени есть слеши
          sed \
              -e "s|%ФИО%|${{ matrix.contact.name }}|g" \
              -e "s|%ФАМИЛИЯ%|${{ matrix.contact.lastname }}|g" \
              -e "s|%ИМЯ%|${{ matrix.contact.firstname }}|g" \
              -e "s|%ОТЧЕСТВО%|${{ matrix.contact.patronymic }}|g" \
              -e "s|%EMAIL%|${{ matrix.contact.email }}|g" \
              -e "s|%НАСТАВНИК_ФИО%|${{ matrix.contact.tutor_name }}|g" \
              -e "s|%НАСТАВНИК_ТЕЛЕФОН%|${{ matrix.contact.tutor_phone }}|g" \
              -e "s|%НАСТАВНИК_EMAIL%|${{ matrix.contact.tutor_email }}|g" \
              ${{ inputs.template_name }} > prepared_email.txt
          cat "prepared_email.txt" 

      # - name: Send mail to ${{ matrix.contact.email }}
      #   uses: dawidd6/action-send-mail@v3
      #   with:
      #     server_address: smtp.gmail.com
      #     server_port: 465
      #     username: ${{ secrets.MAIL_USERNAME }}
      #     password: ${{ secrets.MAIL_PASSWORD }}
      #     subject: "Добро пожаловать в Команду, ${{ matrix.contact.firstname }}!"
      #     to: ${{ matrix.contact.email }}
      #     from: "Команда Фаберлик <${{ secrets.MAIL_USERNAME }}>"
      #     # Отправляем уже подготовленный временный файл
      #     body: file://prepared_email.txt
