name: Email Blast With Delay

on:
  workflow_dispatch:
    inputs:
      template_name:
        description: 'Имя файла в папке mailing (напр. message.txt)'
        required: true
        default: 'template.txt'
      delay_seconds:
        description: 'Задержка (сек)'
        required: true
        default: '2'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: |
          JSON=$(jq -c '.' mailing/contacts.json)
          echo "matrix=${JSON}" >> $GITHUB_OUTPUT

  send-emails:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1 
      matrix:
        contact: ${{ fromJson(needs.prepare.outputs.matrix) }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Anti-spam delay
        run: sleep ${{ github.event.inputs.delay_seconds }}

      # Шаг для замены {name} на реальное имя из контактов
      - name: Prepare Template
        id: prepare_template
        run: |
          # Читаем файл, заменяем {name} на значение из матрицы и сохраняем во временный файл
          # Используем @ в качестве разделителя в sed на случай, если в имени есть слеши
          sed "s/{name}/${{ matrix.contact.name }}/g" mailing/${{ github.event.inputs.template_name }} > prepared_email.txt

      - name: Send mail to ${{ matrix.contact.email }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "Здравствуйте, ${{ matrix.contact.name }}!"
          to: ${{ matrix.contact.email }}
          from: "Your Team <${{ secrets.MAIL_USERNAME }}>"
          # Отправляем уже подготовленный временный файл
          body: file://prepared_email.txt
